@font-face {
   font-family: HelveticaNeue Light;
   src: url(font\HelveticaNeue Light.ttf);
}

#heading {
	font-family: "HelveticaNeue Light";
	font-size: 1.5em;
	background: none;
	text-shadow: none;
	display: block;
	width: auto;
	height: auto;
	padding: 20px 0;
	box-shadow: none;
}

hr {
	background-color: black;
}