body {
	background-color: #f0f0f0;
}

.navbar {
	background-color: rgb(149,179,215); /* green #325c57; */
	color: #ffffff; /* grey #d9d9d9; */
}

.navbar-default .navbar-brand {
	color: #ffffff; /* grey #d9d9d9; */
}

.navbar-default .navbar-nav > li > a {
	color: #ffffff; /* grey #d9d9d9; */
}

.navbar > .container .navbar-brand {
	margin: 0
}

.btn-default {
	background-color: transparent;
	border-color: transparent;
	color: #ffffff; /* grey #d9d9d9; */
}

.dropdown-menu {
	background-color: rgb(149,179,215); /* #f0f0f0; */ /* mid grey #d9d9d9; */
	color: #ffffff; /* green #325c57; */
	border: 2px solid #ffffff; /* green #325c57; */
}

.dropdown-menu > li > a {
	color: #ffffff; /* green #325c57; */
}
img:hover {
    opacity: 0.5;
    filter: alpha(opacity=50); /* For IE8 and earlier */
   
}
c {
	color: rgb(137,191,245);
}
.footer {
	background-color: #d9d9d9;
}

.product-img {
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: rgba(217, 217, 217, 1);
	border: 5px solid rgba(149, 179, 215, 1);
	border-radius: 15px;
	margin-top: 15px;
	margin-bottom: 15px;
}

.product-listbox {
	padding-top: 15px;
	padding-bottom: 15px;
	background-color: #ffffff;
	border: 5px solid rgb(149,179,215);
	border-radius: 15px;
	margin-top: 15px;
	margin-bottom: 15px;
	margin-right: 15px;
}