body {
	
}

#main-content {
	
}

.row {
	margin-bottom: 20px;
}

.row .row {
	margin-top: 10px;
	margin-bottom: 0;
}

/*.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
}*/

.productImage {
	padding-top: 15px;
	padding-bottom: 15px;
	background-color: rgba(217, 217, 217, 1);
	border: 5px solid rgba(149, 179, 215, 1);
	border-radius: 15px;
	margin-top: 15px;
	margin-bottom: 15px;
}

.productDetails {
	padding-top: 0px;
	padding-bottom: 15px;
	padding-left: 0px;
	padding-right: 0px;
	background-color: rgba(217, 217, 217, 1);
	border: 1px solid rgba(217, 217, 2217, 1);
	border-radius: 15px;
	margin-top: 15px;
	margin-bottom: 15px;
}

.productContent {
	
	margin-left: 15px;
	margin-right: 15px;
	
}

.rating{
	color: rgba(149, 179, 215, 1);
	font-size: 20pt;
	text-align: center;
}

.productPrice{
	font-size: 18pt;
	text-align: center;
	
}

.productInStock{
	font-size: 16pt;
	text-align: center;
	color: rgb(0, 179, 0);
	
}

.productOutStock{
	font-size: 16pt;
	text-align: center;
	color: rgb(215, 0, 0);
	
}


/* BASKET AND WISHLIST BUTTONS */
	.btn-basket {
		background: rgba(149, 179, 215, 1);
		color: #FFFFFF;
		border: none;
		-moz-box-shadow: none !important;
		-webkit-box-shadow: none !important;
		box-shadow: none !important;
		margin-bottom: 10px;
	}

	.btn-basket:hover, .btn-yellow:focus {
		background: rgb(252, 255, 179);
	}

	.btn-basket:active {
		background: rgb(247, 255, 71);
	}
	
	.btn-wishlist {
		background: rgba(149, 179, 215, 1);
		color: #FFFFFF;
		border: none;
		-moz-box-shadow: none !important;
		-webkit-box-shadow: none !important;
		box-shadow: none !important;
		margin-bottom: 10px;
	}

	.btn-wishlist:hover, .btn-yellow:focus {
		background: rgb(252, 255, 179);
	}

	.btn-wishlist:active {
		background: rgb(247, 255, 71);
	}


/* [class*="col-"] {
 	padding-top: 15px;
 	padding-bottom: 15px;
 	background-color: #eee;
 	background-color: rgba(217,217,217,1);
 	<!--border: 1px solid #ddd;-->
 	border: 10% solid rgba(217,217,217 ,1);
 	border-radius: 15px
}	 */

	h1{
		padding:15px;
		color: #FFFFFF;
		background-color:rgba(149,179,215,1);
		border:1px solid rgba(149,179,215,1);
		border-radius:10px;
		margin-top: 0px;
		margin-left:0px;
		margin-right:0px;
		}
	}

/*End Main Content*/
