body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

.navbar-toggle.navbar-left {
  float: left;
  margin-left: 10px;
}

body {
	background-color: #f0f0f0;
}

.navbar {
	background-color: rgb(149,179,215); /* green #325c57; */
	color: #ffffff; /* grey #d9d9d9; */
}

.navbar-default .navbar-brand {
	color: #ffffff; /* grey #d9d9d9; */
}

.navbar-default .navbar-nav > li > a {
	color: #ffffff; /* grey #d9d9d9; */
}

.navbar > .container .navbar-brand {
	margin: 0
}

.btn-default {
	background-color: transparent;
	border-color: transparent;
	color: #ffffff; /* grey #d9d9d9; */
}

.dropdown-menu {
	background-color: rgb(149,179,215); /* #f0f0f0; */ /* mid grey #d9d9d9; */
	color: #ffffff; /* green #325c57; */
	border: 2px solid #ffffff; /* green #325c57; */
}

.dropdown-menu > li > a {
	color: #ffffff; /* green #325c57; */
}
img:hover {
    opacity: 0.5;
    filter: alpha(opacity=50); /* For IE8 and earlier */
   
}
c {
	color: rgb(137,191,245);
}
.footer {
	background-color: #d9d9d9;
}